body {
    background-color: #FFF;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

h1 {
    margin: 0;
    padding: 0;
    all: inherit;
    text-decoration: none;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #008500;
}

.dark-bg {
    background-color: #008500;
}

.main-bg {
    background-color: #FFF;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #008500;
}

.author {
    color: #FFF;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    min-height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #008500;
    color: #FFF;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #008500;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #008500;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #FFF;
}

.archive {
    color: #fff;
    background-color: #445261;
    border: 2px solid #445261;
}

.archive:hover {
    color: #fff;
    background-color: gray;
    border: 2px solid gray;
}

.btn-signup {
    background-color: #008500;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #008500;
    color: #fff;
}

.link {
    color: #177D7D;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.post {
    display: block;
}

.post.hide {
    display: none;
}


.new-flash {
    height: 35px;
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    background-color: #FFD700;
    position: absolute;
    top: 48px;
    right: -6px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

.new-flash:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 37px;
    border-left-width: 53px;
    border-right-width: 26px;
    content: "";
    display: block;
    left: -49px;
    position: absolute;
    width: 141%;
    border-top-width: 0px;
    border-bottom-color: #FFD700;
    top: -2px;
    z-index: -1;
}


.new-banner {
    color: #445261;
    margin: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-35deg);
    transform-origin: top right;
    font-size: 2vw;
}

.rotate-text {
    display: inline-block;
    transform: rotate(35deg);
    transform-origin: top right;
}

.btn-secondary {
    background-color: #008500;
    color: white;
    border: 2px solid #008500;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.4vh;
    text-decoration: none;

}

.btn-secondary:hover {

    background-color: #005e00;
    border-color: #005e00;
}

.btn-review {
    margin-top: 10px;
}



.post-subtitle .profile-link,
.author .profile-link {
    color: white;
    text-decoration: none;
}

.post-subtitle .profile-link:hover {
    color: #008500;
    background: white;
}

.author .profile-link:hover {
    color: #008500;
    background: white;
}

.btn-create {
    margin-top: 10px;
    margin-bottom: 10px;
}

.scrollable-content {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.sr-only {
    color: #D23F0F;
}

.category-filters .btn.active.btn-secondary {
    background-color: #008500;
}

.social-media {
    color: #fff;
}

.social-media:hover {
    color: blue;
}

/* media queries */
@media (min-width: 750px) {
    .new-banner {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .new-banner {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .modal-content.container {
        font-size: 2.5vh;
        width: 80%;
    }
}