{% extends "base.html" %}

{% block content %}

{{ mas.title }}
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for mas in mas_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in mas.featured_image.url %}
                                <img class="card-img-top" src="{{ category_image }}"
                                    alt="category image of blog {{mas.title}}">
                                {% else %}
                                <img class="card-img-top" src="{{ mas.featured_image.url }}"
                                    alt="blogpost image of {{mas.title}}">
                                {% endif %}
                                {% if mas.is_new %}
                                <div class="new-flash">
                                    <p class="new-banner"><span class="rotate-text">New</span></p>
                                </div>
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author"> <a href=" /profiles/user/{{ mas.author.id }} "
                                            class="profile-link">Author: {{ mas.author.username }}</a></p>
                                </div>
                            </div>
                            <a href="{% url 'mas_detail' mas.slug  %}" class="post-link">
                                <h2 class="card-title">{{ mas.title }}</h2>
                                <p class="card-text">{{ mas.excerpt }}</p>

                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ mas.event_day }} <i class="far fa-heart"></i>
                                {{ mas.likes.count }}</p>
                            {% if mas.tags.all %}
                            <p class="card-text text-muted h6">
                                {% for tag in mas.tags.all %}
                                <a href="{% url 'tag_filter' tag.slug %}">{{ tag }}</a>
                                {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </p>

                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}