{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <!-- Top Header Banner -->
    <div class="row">
        <div class="col-12 banner-bg">
            <div id="banner" class="banner">
                <h2 class="display-4">Title</h2>
            </div>
        </div>
    </div>

    <!-- Content Section with ID -->
    <div id="about_text" class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>{{ about_section.title }}</h2>
            <div>{{ about_section.content|safe }}</div>

            Last Updated: {{ about_section.updated_on }} by {{ about_section.author.username }}
        </div>
    </div>
</div>

<script>
    // JavaScript to update the banner content
    var banner = document.getElementById("banner");
    var typesOfText = [
        "Discover the latest breakthroughs",
        "Explore cutting-edge research",
        "Unravel the mysteries of matter",
        "Your Question? Our Mission!",

        // Add more types of text as needed
    ];

    function updateBanner() {
        var randomIndex = Math.floor(Math.random() * typesOfText.length);
        banner.innerHTML = "<h2 class='display-4'>" + typesOfText[randomIndex] + "</h2>";
        banner.classList.remove("active");
        void banner.offsetWidth; // Trigger a reflow
        banner.classList.add("active");
    }

    // Initial update and set interval for continuous updates
    updateBanner();
    setInterval(updateBanner, 3500); // Update every 5 seconds (adjust as needed)
</script>
{% endblock %}