{% extends "base.html" %}

{% block content %}

<h1>Server Timeout</h1>
<p>Oops! The server took too long to respond.
</p>

<p>We apologize for the inconvenience, but it seems that the server is currently experiencing a timeout. This can happen
    due to heavy traffic or temporary technical difficulties. Please try refreshing the page or come back later.

    If the issue persists, please contact the administrator for further assistance. Thank you for your patience.

    In the meantime, you can try navigating back to the homepage or explore other sections of the website.</p>

<button><a class="home-button" href="index.html">Home</a></button>

{% endblock %}