{% extends 'base.html' %}
{% load hitcount_tags %}

{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                {% if post.status == 0 %}
                <h2 class="post-status">Waiting for approval</h2>
                {% endif %}
                {% if user.is_authenticated %}
                {% if post.author.username == user.username %}
                {% if post.status == 2 %}
                <form class="d-inline" action="{% url 'archive_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary archive">UnArchive</button>

                </form>
                {% elif post.status == 1 %}
                <form class="d-inline" action="{% url 'archive_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary archive">Archive</button>
                </form>
                {% endif %}
                {% endif %}
                {% endif %}
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle"><a href=" /profiles/user/{{ post.author.id }} " class="profile-link">{{ post.author.username }}</a>
                    |
                    {{ post.created_on|date:'d M Y' }}</p>


            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
                {% if post.is_new %}
                <div class="new-flash">
                    <p class="new-banner"><span class="rotate-text">New</span></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each review in reviews -->
                {% for review in reviews %}
                <div class="comments" style="padding: 10px; position: relative;">
                    <p class="font-weight-bold">
                        <!-- The reviewer's name goes here -->
                        {{ review.author }}
                        <span class="text-muted font-weight-normal">
                            <!-- The review's created date goes here -->
                            {{ review.created_at }}


                        </span> wrote:

                    </p>
                    {% if user.is_authenticated %}
                    {% if review.author == user.username %}
                    <form class="d-inline" action="{% url 'delete_review' review.pk %}" method="POST"
                        style="position: absolute; top: 0; right: 0;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger ">Delete</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    <p>
                        Research Objective and Importance: {{ review.research_objective_and_importance }}<br>
                        Methodology and Experimental Design: {{ review.methodology_and_experimental_design }}<br>
                        Results and Data Analysis: {{ review.results_and_data_analysis }}<br>
                        Discussion and Interpretation: {{ review.discussion_and_interpretation }}<br>
                        Contribution and Originality: {{ review.contribution_and_originality }}
                    </p>

                    <!-- The body of the review goes before the | -->
                    {{ review.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if reviewed %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg btn-review">Create</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}